 <div layout="column" layout-gt-sm="row" >
    <div flex-gt-sm="100">
        <md-card>
                <md-card-content>
                        <!--<button md-mini-fab (click)="Retornar()">-->
                            <!--<md-icon class="md-24">arrow_back</md-icon>-->
                        <!--</button>-->

                         <td-expansion-panel label="Orden de Servicio : {{codigo}}" sublabel="Datos Cliente : {{nombre}}    | Vehiculo : {{placa}}  {{carro}}">
                        <form>
                            <div layout="row" layout-margin>
                                <!--<md-input-container flex>
                                <input md-input placeholder="Datos Cliente " disabled id="nombre" [(ngModel)]="nombre" name="nombre">
                                </md-input-container>-->

                                <md-input-container flex>
                                <input md-input placeholder="Codigo" [(ngModel)]="codcliente" name="codcliente">
                                </md-input-container>

                                <md-input-container flex>
                                <input md-input placeholder="Descripcion" disabled id="colores" [(ngModel)]="colores" name="colores">
                                </md-input-container>
                                
                            </div>

                            <div layout="row" layout-margin>
                                <md-input-container flex>
                                <input md-input placeholder="Direccion" disabled id="vchdireccion" [(ngModel)]="vchdireccion" name="vchdireccion">
                                </md-input-container>

                                <md-input-container flex>
                                <input md-input placeholder="Año" ddisabled id="anio" [(ngModel)]="anio" name="anio">
                                </md-input-container>
                            </div>

                        </form>
                         </td-expansion-panel>  
                </md-card-content>
        </md-card>      
    </div>  
 </div>


   <!--<div layout="column" layout-gt-sm="row" >-->
      <div flex-gt-sm="100">
        <md-card>
             <md-card-content>

                 <td-steps mode="horizontal">

                    <td-step #step1 label="Required State" sublabel="Masillado, remasillado y lijado" [active]="true" [disabled]="disabled" (activated)="activeStep1Event()" (deactivated)="deactiveStep1Event()">
                        <template td-step-label><span>1ra etapa</span></template>

                        <p-dataTable [value]="data1" selectionMode="single" [(selection)]="selectedproduccion3" (onRowSelect)="onRowSelect($event)"
                        [paginator]="false" [rows]="10" [responsive]="true" [contextMenu]="cm">
                            <p-headerColumnGroup>
                                <p-row>
                                    <p-column header="Descripcion" rowspan="2" [style]="{'width': '250px','font-size':'12px'}"></p-column>
                                    <p-column header="H/H" rowspan="2"  [style]="{'width': '50px','font-size':'12px'}"></p-column>
                                    <p-column header="Avance" rowspan="2"  [style]="{'width': '52px','font-size':'12px'}"></p-column>
                                    <p-column header="Fecha" rowspan="2"  [style]="{'width': '61px','font-size':'12px'}"></p-column>
                                    <p-column header="Inicio" rowspan="2"  [style]="{'width': '55px','font-size':'12px'}"></p-column>
                                    <p-column header="Detener Iniciar" rowspan="2"  [style]="{'width': '55px','font-size':'12px'}"></p-column>
                                    <p-column header="Parcial" rowspan="2"  [style]="{'width': '55px','font-size':'12px'}"></p-column>
                                    <p-column header="Final" rowspan="2"  [style]="{'width': '55px','font-size':'12px'}"></p-column>
                                    <p-column header="TE" rowspan="2"  [style]="{'width': '55px','font-size':'12px'}"></p-column>
                                    <p-column header="H/HE" rowspan="2"  [style]="{'width': '55px','font-size':'12px'}"></p-column>
                                    <p-column header="Dif" rowspan="2"  [style]="{'width': '55px','font-size':'12px'}"></p-column>
                                    <!--<p-column header="Descripcion" rowspan="2"   [style]="{'width': '300px','font-size':'12px'}"></p-column>-->
                                    <!--<p-column header="Hora hombre" rowspan="2" [style]="{'width': '43px','font-size':'12px'}"></p-column>-->
                                    <!--<p-column header="Mano de Obra" rowspan="2"  [style]="{'width': '45px','font-size':'12px'}"></p-column>-->
                                    <!--<p-column header="Dscto" rowspan="2"  [style]="{'width': '40px','font-size':'12px'}"></p-column>-->
                                    <!--<p-column header="Precio Estimado" colspan="3"  [style]="{'width': '159px','font-size':'12px'}"></p-column>-->
                                </p-row>
                                <!--<p-row>-->
                                    <!--<p-column header="Mano de Obra"  [style]="{'width': '100px','font-size':'12px'}"></p-column>-->
                                    <!--<p-column header="Rpto/Mat."  [style]="{'width': '100px','font-size':'12px'}"></p-column>-->
                                    <!--<p-column header="Total"  [style]="{'width': '100px','font-size':'12px'}"></p-column>-->
                                <!--</p-row>-->
                            </p-headerColumnGroup>
                                    <p-column field="descripcion" [style]="{'text-align': 'left'}"></p-column>
                                    <p-column field="hh" [style]="{'text-align': 'center'}" ></p-column>
                                    <p-column field="hh" [style]="{'text-align': 'center'}" ></p-column>
                                    <p-column field="fecha" [style]="{'text-align': 'center'}" ></p-column>
                                    <p-column styleClass="col-button" [style]="{'width': '60px','font-size':'12px'}" >
                                        <template pTemplate="header">
                                            Inicio
                                        </template>
                                        <template let-car="rowData" pTemplate="body">
                                            <button md-mini-fab (click)="Star()">
                                            <md-icon class="md-24">play_arrow</md-icon>
                                            </button>
                                        </template>
                                    </p-column>
                                    <p-column styleClass="col-button" [style]="{'width': '60px','font-size':'12px'}" >
                                        <!--<template pTemplate="header">-->
                                            <!--Inicio-->
                                        <!--</template>-->
                                        <template let-car="rowData" pTemplate="body">
                                            <button md-mini-fab (click)="Pausa()">
                                            <md-icon class="md-24">play_circle_filled</md-icon>
                                            </button>
                                        </template>
                                    </p-column>
                                    <p-column field="parcial" [style]="{'text-align': 'center'}" ></p-column> 
                                    <p-column styleClass="col-button" [style]="{'width': '60px','font-size':'12px'}">
                                        <!--<template pTemplate="header">-->
                                            <!--Inicio-->
                                        <!--</template>-->
                                        <template let-car="rowData" pTemplate="body">
                                            <button md-mini-fab (click)="Stop()">
                                            <md-icon class="md-24">stop</md-icon>
                                            </button>
                                        </template>
                                    </p-column>
                                    <p-column field="te"  [style]="{'text-align': 'center'}" ></p-column>
                                    <p-column field="hh"  [style]="{'text-align': 'center'}" ></p-column>
                                    <p-column field="dif" [style]="{'text-align': 'center'}"></p-column>
                                    <!--<p-column field="vchdescripcion"></p-column>-->
                                    <!--<p-column field="numhorashombree"  [style]="{'text-align': 'right'}"></p-column>-->
                                    <!--<p-column field="numeropreciosugerido" [style]="{'text-align': 'right'}"></p-column>-->
                                    <!--<p-column field="numerodescuento" [style]="{'text-align': 'right'}"></p-column>                -->
                                    <!--<p-column field="nummanoobra"  [style]="{'text-align': 'right'}"></p-column>-->
                                    <!--<p-column field="numrepuesto"  [style]="{'text-align': 'right'}"></p-column>-->
                                    <!--<p-column field="numtotal"  [style]="{'text-align': 'right'}"></p-column>-->
                            <!--<footer>-->
                                <!--<div class="ui-helper-clearfix" style="width:100%"><button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add"></button></div>-->
                            <!--</footer>-->
                        </p-dataTable>


                    </td-step>

                    <td-step #step2 label="Required State" sublabel="Primer anticorrosivo" [active]="false" [disabled]="disabled" (activated)="activeStep2Event()" (deactivated)="deactiveStep1Event()">
                        <template td-step-label><span>2da. Etapa</span></template>

                        <p-dataTable [value]="data2" selectionMode="single" [(selection)]="selectedproduccion3" (onRowSelect)="onRowSelect($event)"
                        [paginator]="false" [rows]="10" [responsive]="true" [contextMenu]="cm">
                            <p-headerColumnGroup>
                                <p-row>
                                    <p-column header="Descripcion" rowspan="2" [style]="{'width': '250px','font-size':'12px'}"></p-column>
                                    <p-column header="H/H" rowspan="2"  [style]="{'width': '50px','font-size':'12px'}"></p-column>
                                    <p-column header="Avance" rowspan="2"  [style]="{'width': '52px','font-size':'12px'}"></p-column>
                                    <p-column header="Fecha" rowspan="2"  [style]="{'width': '61px','font-size':'12px'}"></p-column>
                                    <p-column header="Inicio" rowspan="2"  [style]="{'width': '55px','font-size':'12px'}"></p-column>
                                    <p-column header="Detener Iniciar" rowspan="2"  [style]="{'width': '55px','font-size':'12px'}"></p-column>
                                    <p-column header="Parcial" rowspan="2"  [style]="{'width': '55px','font-size':'12px'}"></p-column>
                                    <p-column header="Final" rowspan="2"  [style]="{'width': '55px','font-size':'12px'}"></p-column>
                                    <p-column header="TE" rowspan="2"  [style]="{'width': '55px','font-size':'12px'}"></p-column>
                                    <p-column header="H/HE" rowspan="2"  [style]="{'width': '55px','font-size':'12px'}"></p-column>
                                    <p-column header="Dif" rowspan="2"  [style]="{'width': '55px','font-size':'12px'}"></p-column>
                                </p-row>
                            </p-headerColumnGroup>
                                    <p-column field="descripcion" [style]="{'text-align': 'left'}"></p-column>
                                    <p-column field="hh" [style]="{'text-align': 'center'}" ></p-column>
                                    <p-column field="hh" [style]="{'text-align': 'center'}" ></p-column>
                                    <p-column field="fecha" [style]="{'text-align': 'center'}" ></p-column>
                                    <p-column styleClass="col-button" [style]="{'width': '60px','font-size':'12px'}" >
                                        <template pTemplate="header">
                                            Inicio
                                        </template>
                                        <template let-car="rowData" pTemplate="body">
                                            <button md-mini-fab (click)="Star()">
                                            <md-icon class="md-24">play_arrow</md-icon>
                                            </button>
                                        </template>
                                    </p-column>
                                    <p-column styleClass="col-button" [style]="{'width': '60px','font-size':'12px'}" >
                                        <template let-car="rowData" pTemplate="body">
                                            <button md-mini-fab (click)="Pausa()">
                                            <md-icon class="md-24">play_circle_filled</md-icon>
                                            </button>
                                        </template>
                                    </p-column>
                                    <p-column field="parcial" [style]="{'text-align': 'center'}" ></p-column> 
                                    <p-column styleClass="col-button" [style]="{'width': '60px','font-size':'12px'}">
                                        <template let-car="rowData" pTemplate="body">
                                            <button md-mini-fab (click)="Stop()">
                                            <md-icon class="md-24">stop</md-icon>
                                            </button>
                                        </template>
                                    </p-column>
                                    <p-column field="te"  [style]="{'text-align': 'center'}" ></p-column>
                                    <p-column field="hh"  [style]="{'text-align': 'center'}" ></p-column>
                                    <p-column field="dif" [style]="{'text-align': 'center'}"></p-column>
                        </p-dataTable>


                    </td-step>

                     <td-step #step3 label="Required State" sublabel="Primer anticorrosivo" [active]="false" [disabled]="disabled" (activated)="activeStep3Event()" (deactivated)="deactiveStep1Event()">
                        <template td-step-label><span>3ra. Etapa</span></template>
                        Primer anticorrosivo
                    </td-step>

                     <td-step #step4 label="Required State" sublabel="Secado, pulido y abrillantado" [active]="false" [disabled]="disabled" (activated)="activeStep4Event()" (deactivated)="deactiveStep1Event()">
                        <template td-step-label><span>4ta. Etapa</span></template>
                        Secado, pulido y abrillantado
                    </td-step>

                    <td-step #step5 label="Total" sublabel="" [state]="stateStep5" [disabled]="disabled">
                        Mark this step complete and get a summary
                        <template td-step-summary>
                            Use an optional step summary to summarize the info in this step
                        </template>
                        <template td-step-actions>
                            <button md-raised-button color="primary" (click)="toggleCompleteStep3()">Toggle Complete</button>
                            <button md-button (click)="step3.active = false">Cancel</button>
                        </template>
                    </td-step>

                </td-steps>


                </md-card-content>

        </md-card>    
      </div>
    <!--</div>    -->